form {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  border: 2px solid #782F40;
  border-radius: 15px;
  padding: 1rem;
  background-color: #CEB888;
}

.form-group {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
}

input,
select {
  padding: 0.4rem 0.6rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-width: 200px;
}

.add--button {
  display: flex;
  background-color: #28a745;
  border: none;
  border-radius: 50%;
  font-size: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.add--button:hover {
  background-color: #218838;
}
